{% extends "AlexandrieFrontendBundle::layout.html.twig" %}


{% block menuHome %}
<div class="chrome-tab  chrome-tab-current">
  <!-- <div class="chrome-tab-favicon" style="background-image: url('http://www.google.com/favicon.ico')"></div> -->
  <div class="chrome-tab-title">Accueil</div>
  <!-- <div class="chrome-tab-close"></div> -->
  <div class="chrome-tab-curves">
	<div class="chrome-tab-curves-left-shadow"></div>
	<div class="chrome-tab-curves-left-highlight"></div>
	<div class="chrome-tab-curves-left"></div>
	<div class="chrome-tab-curves-right-shadow"></div>
	<div class="chrome-tab-curves-right-highlight"></div>
	<div class="chrome-tab-curves-right"></div>
  </div>
</div>
{% endblock %}