{% extends "AlexandrieFrontendBundle::layout2.html.twig" %}


{% block sideBar %}

	<div class="page-header">
		<h1><strong>Sommaire</strong><br></h1>
	</div>
	<div id="somTexte"  ></div>
	
{% endblock %}



{% block content %}

	<div class="page-header">
                        <h2 class="text-left"><strong>Décret n° 2018-426 du&nbsp;31 mai 2018&nbsp;portant diverses dispositions relatives à l'allocation pour demandeur d'asile</strong><br><small>Subtext for header</small></h2>
                    </div><div>

		
<div>
				
  <p align="left">
    <br>Publics concernés : demandeurs d'asile, préfectures, Office français de l'immigration et de l'intégration, Office français de protection des réfugiés et apatrides.
    <br>Objet : modalités de calcul et de versement de l'allocation pour demandeur d'asile.
    <br>Entrée en vigueur : le texte entre en vigueur le jour de sa publication.
    <br>Notice : les articles 1er à 3 du décret complètent la <a href="/affichCode.do?cidTexte=LEGITEXT000006070158&amp;idSectionTA=LEGISCTA000006085120&amp;dateTexte=29990101&amp;categorieLien=cid" rel="eli:cites">partie réglementaire du code de l'entrée et du séjour des étrangers et du droit d'asile</a> pour y préciser les règles applicables pour l'attribution de l'allocation pour demandeur d'asile.
    <br>Références : le décret fait application de l'<a href="/affichCodeArticle.do?cidTexte=LEGITEXT000006070158&amp;idArticle=LEGIARTI000030952367&amp;dateTexte=29990101&amp;categorieLien=cid" rel="eli:cites">article L. 744-9 du code de l'entrée et du séjour des étrangers et du droit d'asile</a>. Le code modifié par le présent décret peut être consulté, dans sa version issue de cette modification, sur le site Légifrance (http://www.legifrance.gouv.fr).
  </p>

</div><!-- end notice -->
		
	
		<div>
			
<p align="left">
<br>Le Premier ministre,<br>Sur le rapport du ministre d'Etat, ministre de l'intérieur,<br>Vu la directive 2013/33/UE du Parlement européen et du Conseil du 26 juin 2013 établissant des normes pour l'accueil des personnes demandant la protection internationale ;<br>Vu le <a href="/affichCode.do?cidTexte=LEGITEXT000006070721&amp;dateTexte=29990101&amp;categorieLien=cid" rel="eli:cites">code civil</a>, notamment son article 1er ;<br>Vu le <a href="/affichCode.do?cidTexte=LEGITEXT000006070158&amp;dateTexte=29990101&amp;categorieLien=cid" rel="eli:cites">code de l'entrée et du séjour des étrangers et du droit d'asile</a>, notamment son article L. 744-9 ;<br>Vu le <a href="/affichCode.do?cidTexte=LEGITEXT000006074069&amp;dateTexte=29990101&amp;categorieLien=cid" rel="eli:cites">code de l'action sociale et des familles</a> ;<br>Vu le <a href="/affichTexte.do?cidTexte=JORFTEXT000026597003&amp;categorieLien=cid" rel="eli:cites">décret no 2012-1246 du 7 novembre 2012</a> relatif à la gestion budgétaire et comptable publique ;<br>Vu la saisine du conseil territorial de Saint-Martin en date du 14 mai 2018 ;<br>Vu l'urgence,<br>Décrète :</p>

		</div><!-- end visas -->

		<div> <!-- Content -->
			<a style="text-decoration: none;" id="JORFARTI000036969985" name="JORFARTI000036969985"> </a><div class="article">
<div class="titreArt">Article 1 </div> 
<p>
<br>Le premier alinéa de l'article D. 744-26 est remplacé par :<br>« En application du cinquième alinéa de l'article L. 744-9, l'allocation pour demandeur d'asile est composée d'un montant forfaitaire, dont le niveau varie en fonction du nombre de personnes composant le foyer, et, le cas échéant, d'un montant additionnel destiné à couvrir les frais d'hébergement ou de logement du demandeur. Le montant additionnel n'est pas versé au demandeur qui n'a pas manifesté de besoin d'hébergement ou qui a accès gratuitement à un hébergement ou un logement à quelque titre que ce soit. Lorsqu'il n'est pas hébergé dans un des lieux mentionnés à l'article L. 744-3, le demandeur d'asile informe l'Office français de l'immigration et de l'intégration de son lieu d'hébergement ou de logement ainsi que des modalités s'y rapportant. Le demandeur d'asile communique ces informations à l'Office français de l'immigration et de l'intégration deux mois après l'enregistrement de sa demande d'asile et ensuite tous les six mois. »</p>
 </div><a style="text-decoration: none;" id="JORFARTI000036969987" name="JORFARTI000036969987"> </a><div class="article">
<div class="titreArt">Article 2 </div> 
<p>
<br>Le deuxième alinéa de l'article D. 744-34 est ainsi rédigé : « 1° Dans les conditions prévues au deuxième alinéa de l'article L. 744-9 ; ».</p>
 </div><a style="text-decoration: none;" id="JORFARTI000036969989" name="JORFARTI000036969989"> </a><div class="article">
<div class="titreArt">Article 3 
</div> 
<p>
<br>L'annexe 7-1 est ainsi modifiée : <br>1° Le dernier alinéa du I est ainsi rédigé : <br>« Un montant journalier additionnel de 7.40 € est versé en application des dispositions de l'article D. 744-26 à chaque demandeur d'asile adulte ayant accepté l'offre de prise en charge, qui a manifesté un besoin d'hébergement et n'a pas accès gratuitement à un hébergement ou un logement à quelque titre que ce soit. » <br>2° Au dernier alinéa du II, les mots : « à chaque demandeur d'asile adulte ayant accepté l'offre de prise en charge, auquel aucune place d'hébergement ne peut être proposée dans un des lieux mentionnés à l'article L. 744-3 et qui n'est pas hébergé en application des <a href="/affichCodeArticle.do?cidTexte=LEGITEXT000006074069&amp;idArticle=LEGIARTI000020444502&amp;dateTexte=&amp;categorieLien=cid" rel="eli:cites">dispositions de l'article L. 345-2-2 du code de l'action sociale et des familles </a>» sont remplacés par les mots : « à chaque demandeur d'asile adulte ayant accepté l'offre de prise en charge, qui a manifesté un besoin d'hébergement et n'a pas accès gratuitement à un hébergement ou un logement à quelque titre que ce soit. »</p>
 </div><a style="text-decoration: none;" id="JORFARTI000036969993" name="JORFARTI000036969993"> </a><div class="article">
<div class="titreArt">Article 4 
</div> 
<p>
<br>I.-Le présent décret est applicable à Saint-Barthélemy et à Saint-Martin. <br>II.-1° A l'article D. 766-1-1, les mots : « <a href="/affichTexte.do?cidTexte=JORFTEXT000034307842&amp;categorieLien=cid" rel="eli:cites">décret n° 2017-430 du 29 mars 2017 </a>portant diverses dispositions relatives à l'allocation pour demandeur d'asile » sont remplacés par les mots : « <a href="/affichTexte.do?cidTexte=JORFTEXT000036969978&amp;categorieLien=cid" rel="eli:cites">décret n° 2018-426 du 31 mai 2018 </a>». <br>2° A l'article D. 766-2-1, les mots : « <a href="/affichTexte.do?cidTexte=JORFTEXT000034307842&amp;categorieLien=cid" rel="eli:cites">décret n° 2017-430 du 29 mars 2017 </a>portant diverses dispositions relatives à l'allocation pour demandeur d'asile » sont remplacés par les mots : « <a href="/affichTexte.do?cidTexte=JORFTEXT000036969978&amp;categorieLien=cid" rel="eli:cites">décret n° 2018-426 du 31 mai 2018 </a>».</p>
 </div><a style="text-decoration: none;" id="JORFARTI000036970000" name="JORFARTI000036970000"> </a><div class="article">
<div class="titreArt">Article 5 
</div> 
<p>
<br>Le ministre d'Etat, ministre de l'intérieur, le ministre de l'action et des comptes publics et la ministre des outre-mer sont chargés, chacun en ce qui le concerne, de l'exécution du présent décret, qui sera publié au Journal officiel de la République française et entrera en vigueur immédiatement.</p>
 </div>

		</div><!-- end texte -->
		
		<div>
<center>			
<p>
<br>Fait le 31 mai 2018.<br>
</p>
<p>
<br>Edouard Philippe<br>
<br>Par le Premier ministre :<br>
</p>
<p>
<br>Le ministre d'Etat, ministre de l'intérieur,<br>
<br>Gérard Collomb<br>
</p>
<p>
<br>Le ministre de l'action et des comptes publics,<br>
<br>Gérald Darmanin<br>
</p>
<p>
<br>La ministre des outre-mer,<br>
<br>Annick Girardin<br>
</p>
</center>   
		</div><br/><!-- end signataires -->

		
		
		
		<!-- end nota -->
		
{% endblock %}